* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-image: url(../images/bg.png);
    background-size: cover;
    
    overflow: hidden; /* Hide scrollbars */
      
}

.ebola {
    padding-top: 28.2%;
}

#countdown {
    margin-left: 53.25%;
    color: rgb(198, 198, 198);
    background-color:#323232;
}

.gifs1 {
    display: inline-block;
    padding-bottom: 64px;
}

button{
    position: absolute;
    z-index: 1;
    right: 0;
  }
  img {
    position: relative;
    width: 100%;
  }